<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% block head %}

    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/wimage.png" type="image/x-icon">

<style>
     * {
            padding: 0;
            margin: 0;
        }

        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            /* width: 100%; */
            background-color: black;
        }

        .container {
            display: flex;
            /* height: 100%; */

        }
</style>

</head>


<body>
    
</body>
</html>