{% extends 'base.html' %}

{% block title %}
about page
{% endblock %}

{% block stylecss %}
<style>

/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */
</style>

{% endblock %}


{% block content %} 
<!-- Section Gallary Start -->
<section class="gallary" id="gallary">
    <div class="container">

      <div class="main-txt">
        <h1><span>G</span>allary</h1>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="images/event1.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="./images/event1.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="./images/event1.jpg" alt="" height="230px">
          </div>
        </div>
      </div>


      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="./images/event1.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/event1.jpg" alt="" height="230px">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="./images/event1.jpg" alt="" height="230px">
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Section Gallary End -->
  {% endblock %}



